[Unit]
Description=Solar Logging Service
After=network.target
 
[Service]
Type=exec
User=solarlogging
Group=solarlogging
ExecStart=/opt/solarlogging/run.sh
SyslogIdentifier=solarlogging
 
[Install]
WantedBy=multi-user.target
